* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --border-radius-rounded: 10px;
  --border-radius-full: 12px;
  --padding: 12px;
}
body {
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: linear-gradient(79deg, #b2fdd9, #6ab1f8);
}

#head {
  color: rgb(252, 233, 233);
  font-weight: bold;
  background-color: black;
  border-radius: 12px;
  width: 37%;
  margin-left: 30%;
}

/* upload.html styling */
.sg-btn {
  margin-left: 0% !important;
}
.upload-sign-btn {
  margin-left: 30%;
}
#sign-up-btn {
  width: 37%;
  border-radius: 15px;
  background: linear-gradient(
    45deg,
    rgb(29, 252, 189),
    rgb(252, 112, 143),
    rgb(168, 159, 253)
  );
  font-size: larger;
  margin-left: 29%;
}
.sg-btn {
  width: 40%;
  background: linear-gradient(
    45deg,
    rgb(29, 252, 189),
    rgb(252, 112, 143),
    rgb(73, 54, 236)
  );
  border-radius: 15px;
  font-size: larger;
  margin-left: 37%;
}
.upload-sign-btn{
  width: 7em !important;
   background: linear-gradient(
    45deg,
    rgb(29, 252, 189),
    rgb(252, 112, 143),
    rgb(73, 54, 236)
  );
  border-radius: 15px;
  font-size: larger;
  margin-left: 37%;
  margin-right: 20% !important;
}

.up-btn {
  background-color: deepskyblue;
  border-radius: var(--border-radius-rounded);
  font-size: larger;
  width: 7em !important;
  margin-left: 2%;
  margin-right: 20% !important;
}
.up-btn:hover {
  color: #150303 !important;
  background-color: #f9f5f5;
  border-radius: var(--border-radius-rounded);
  transition: 0.7s ease-in;
}

#up-home {
  width: 7em !important;
  background-color: rgb(247, 171, 91);
  border-radius: var(--border-radius-rounded);
  font-size: larger;
  margin-left: 2%;
  padding: 10px 20px !important;
  margin-right:13%;
}
.up-nav {
  /* width: 55% !important; */
  width: 58%;
  margin-left: auto;
  margin-right: auto;
}

/* sign up styling */
#sign-form {
  border: 6px double lightcoral;
  border-radius: 8px;
}

/* index.html styling */
.intro {
  border: 2px solid #10cfff;
}
#storyBody{
  color:#141f16;
  font-size: larger;
  background-color: #94d2f1;
}
#bg {
  background-image: url(images/dream.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bolder;
  color: #fbfdfe;
  border-radius: 7px;
}

#alImg {
  height: 270px;
}
#story {
  border: 4px double #5500ff;
  background-color:none;
}
.ft-bg {
  background-color: rgb(241, 118, 132);
  color: black;
  border-radius: var(--border-radius-full);
  width: 98%;
}

.sub {
  color: #212121;
  background: linear-gradient(60deg, rgb(89, 110, 176), rgb(41, 203, 174));
}

.contact-form {
  border: 4px double #ff10ab;
}

#cnt-sub{
  margin-left:30% !important;
}

/* image uploading functionality styling */
#stored {
  border: 4px double orchid;
  padding: 3%;
}
.upload {
  border: 4px solid rgb(149, 142, 243);
  border-radius: 15px;
  margin-left: 26%;
  width: 44%;
}
#instructions {
  border: 7px double rgb(248, 92, 92);
  font-size: larger;
  font-weight: bold;
}
#storedImagesSection {
  display: none;
}
#imageContainer {
  background: linear-gradient(89deg, #f9bb7a, #83b5fc);
  border-radius: var(--border-radius-full);
  display: flex;
  overflow-x: auto;
}
#scroll {
  display: none;
}

@media only screen and (max-width: 576px) {
  #scroll {
    display: block;
  }

  ::-webkit-scrollbar {
    width: 9px;
    height: 14px;
  }

  ::-webkit-scrollbar-thumb {
    background: #f74829;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-corner {
    background: #e10e0e;
  }
}

.deleteIcon {
  font-size: 25px;
}
.deleteIcon:hover {
  transform: scale(1.3);
  transition: all 1s ease-in-out;
  font-weight: bold;
}
.aimage {
  width: auto;
  height: auto;
  overflow-wrap: break-word;
}

#delete {
  border: 2px solid #090d0e;
  border-radius: var(--border-radius-full);
  background-color: rgb(4, 157, 252);
  padding: var(--padding);
  color: rgb(238, 235, 238);
}
#delete:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(8, 6, 6);
  transition: 1s ease-out;
}
input[type="file"]::file-selector-button {
  background-color: #4c99af;
  border: none;
  padding: var(--padding);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background-color: black;
  transition: 0.5s ease-in;
}

/* navbar styling  */
#navbarSupportedContent{
  transition: 1s ease-in;
}

#nav a:hover {
  color: #150303 !important;
  background-color: #f9f5f5;
  border-radius: var(--border-radius-rounded);
  transition: 0.7s ease-in;
}
#nav ul li {
  margin-left: 25px;
}
#nav {
  background-color: #000000 !important;
  width: 58%;
  border-radius: var(--border-radius-full);
  margin-left: 22%;
  position: relative;
}
#nav a {
  color: #ffffff !important;
}

/* about styling */
.card-text{
  color:navy !important;
}

/* tutorials styling */
.tutorials {
  font-size: larger;
}
.tab-1 {
  background-color: #282c34;
  box-shadow: 12px 14px 18px rgba(20, 28, 33, 0.877);
  border-radius: var(--border-radius-full);
  padding: var(--padding) !important;
}
.nav-item .nav-link.active {
  color: rgb(22, 17, 17) !important;
  background-color: #95f4dd !important ;
}

.tab-1 .nav-item .nav-link {
  color: rgb(16, 236, 247);
}

